---
layout: post
---
<style>
    #summary-list{
        display: flex;
        justify-content: space-between;
        margin: 120px 0 24px 0;
        width: 100%;
        padding: 1em;
        border: 1px solid #eeebee;
        border-radius: 4px;
    }
    .summary-item{
        display: flex;
        flex-direction: column;
    }
    #summary-item-name{
        font-size: x-large;
        font-weight: bold;
    }
    #summary-item-subject{
        color: #7253ed;
        font-size: large;
        font-weight: bold;
    }
    .summary-item-head{
        font-size: small;
        color: #7253ed;
        font-weight: bold;
    }
    .summary-item-body{
        font-size: large;
        font-weight: bold;
        margin: 0.4em 0;
    }
    .summary-item-script{
        display: inline-flex;
        font-size: small;
        color: #959396;
    }
    .summary-item-script > div{
        margin-right: 1em;
    }

    .summary-item-script a,
    .summary-item-script a:link,
    .summary-item-script a:visited,
    .summary-item-script a:hover{
        color: #959396;
        cursor: pointer;
        text-decoration-color: #eeebee;
    }
    #thumbnail-container{
        position: relative;
        width: 100%;
        height: 600px;
        padding: 20px;
        border-radius: 6px;
        border: 1px solid  #eeebee;
    }
    .thumbnail-image{
        position: absolute;
        width: calc(100% - 40px);
        height: 480px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .thumbnail-image img{
        max-height: 480px;
        max-width: 100%;
        border-radius: 6px;
        object-fit: contain;
        z-index: 5;
    }
    .thumbnail-image img:not(:first-child){
        display: none;
    }
    .thumbnail-stack{
        display: inline-flex;
        position: absolute;
        width: 100%;
        justify-content: center;
        margin-left:-20px;
        margin-top: 500px;
        z-index: 10;
    }
    .thumbnail-stack img{
        width: 60px;
        height: 60px;
        margin: 0 10px;
        border-radius: 60px;
        padding: 4px;
        background: #fff;
        cursor: pointer;
    }
    .thumbnail-stack img:first-child{
        border:1px solid #7253ed;
    }
    #stack-content table tr td:first-child{
        font-weight: bold;
    }
    span.role-contribution{
        margin-left: 0.4em;
        color: #959396;
        font-size: 0.8em;
        vertical-align: bottom;
    }
    h2{
        color: #7253ed;
    }
</style>

<hr>

<div>
    {% assign summary = page.summary %}
    <div>
        <div id="summary-item-subject">{{ summary.service.name }}</div>
        <div id="summary-item-name">{{ summary.service.subject }}</div>
    </div>

    <div id="summary-list">
        <div class="summary-item">
            <div class="summary-item-head">
                플랫폼
            </div>
            <div class="summary-item-body">
                {{ summary.platform.environment }}
            </div>
            <div class="summary-item-script">
                <div>
                    {% if summary.platform.demo == "n" %}
                    <s><a href="#">Demo</a></s>
                    {% else %}
                    <a href="{{ summary.platform.demo }}">Demo</a>
                    {% endif %}
                </div>
                <div>
                    {% if summary.platform.github == "n" %}
                    <s><a href="#">GitHub</a></s>
                    {% else %}
                    <a href="{{ summary.platform.github }}">GitHub</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="summary-item">
            <div class="summary-item-head">
                인원
            </div>
            <div class="summary-item-body">
                {{ summary.people.number }}
            </div>
            <div class="summary-item-script">
                {{ summary.people.script }}
            </div>
        </div>
        <div class="summary-item">
            <div class="summary-item-head">
                기간
            </div>
            <div class="summary-item-body">
                {{ summary.period.day }}
            </div>
            <div class="summary-item-script">
                {{ summary.period.date }}
            </div>
        </div>
    </div>
</div>

<hr>

<h2 id="시작하며">시작하며</h2>

<div>
    <h3 id="담당업무">담당업무</h3>
    <ul>
        {% assign roleList = page.intro.role %}
        {% for item in roleList %}
        <li>{{ item[1].script }} <span class="role-contribution">{{ item[1].contribution }}%</span></li>
        {% endfor %}
    </ul>
</div>

<hr>

<div id="stack-content">
    <h3 id="기술스택">기술스택</h3>
    {% assign stackList = page.intro.tech_stack %}

    <table>
        <tbody>
        {% for stack in stackList %}
        {% if stack[1] != "n" %}
        <tr>
            {% case stack[0] %}
            {% when "language" %}
            <td>언어</td>
            {% when "server" %}
            <td>서버</td>
            {% when "framework" %}
            <td>프레임워크</td>
            {% when "api_and_library" %}
            <td>API, Library</td>
            {% when "database" %}
            <td>데이터베이스</td>
            {% when "ide" %}
            <td>IDE</td>
            {% endcase %}
            <td>
                <ul>
                    {% assign itemList = stack[1] | split: ", " %}
                    {% for item in itemList %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>

<hr>

<div id="thumbnail-content">
    <h3 id="미리보기">미리보기</h3>
    <div id="thumbnail-container">
        <div class="thumbnail-image">
            {% assign imgList = page.intro.thumbnail | split: ", " %}
            {% for img in imgList %}
            <img data-index="{{ forloop.index }}" src="https://cdn.jsdelivr.net/gh/jisu-yang/jisu-yang.github.io/docs/essay/project-review/resource/{{ img }}" alt="{{ img }}">
            {% endfor %}
        </div>
        <div class="thumbnail-stack">
            {% assign imgList = page.intro.thumbnail | split: ", " %}
            {% for img in imgList %}
            <img data-select="{{ forloop.index }}" src="https://cdn.jsdelivr.net/gh/jisu-yang/jisu-yang.github.io/docs/essay/project-review/resource/{{ img }}" alt="{{ img }}">
            {% endfor %}
        </div>
    </div>
</div>


<hr>

{{ content }}

<script>
    document.querySelectorAll('.cdn-img').forEach(item => {
        ImageDeliver
            .id(item.id)
            .category(PathResource.PROJECT_REVIEW)
            .file(item.id)
            .delivery();
    });

    function initImageSlider() {
        let imageSlideSelectList = document.querySelectorAll('.thumbnail-stack > img');
        let imageSlideItemList = document.querySelectorAll('img[data-index]');

        imageSlideSelectList.forEach(button => {
            button.addEventListener('click',function () {
                let imageSlideShowItem = document.querySelectorAll('img[data-index="'+button.getAttribute('data-select')+'"]');

                imageSlideSelectList.forEach(select => {
                    select.style.border = "none";
                });
                button.style.border = "1px solid #7253ed";

                imageSlideItemList.forEach(item => {
                    item.style.display = "none";
                });
                imageSlideShowItem.forEach(item => {
                    item.style.display = "block";
                });

            })
        })
    }

    initImageSlider();



</script>

